.logo{
  border-radius:50%;
  height: 100px;
  width: 100px;
}
.job_list{
  display:flex;
  margin-bottom: 20px;
  background-color: antiquewhite;
}
ul{
  list-style:none;
}
.job_desc{
  display:flex;
  flex-direction: row;
}
.clear-btn{
  font-size: medium;
  float:right;
  cursor:pointer;
}
.remove-btn{
  cursor:pointer;
}
.top-keywords{
  margin: 10px;
}
.top-keywords button{
  border:none;
  font-size: medium;
  margin-right:10px;
}

.keywords{
  display:flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;


}
.keywords button{
  margin-left: 5px;
  font-size: large;
  border:none;
  cursor: pointer;

}


.job-location,
.job-posted-time,
.job-type {
  margin-right: 20px;
}

.image{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}